<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="it-message-input">

  <template>

    <style>
      .input {
        height: 64px;
        background: #ffffff;
        border: none;
        width: calc(100% - 64px);
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 5%;
        resize: none;
        overflow: scroll;
        font-weight: 300;
        font-size: 15px;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        color: #545454;
      }
      .input:focus {
        outline: none;
      }
      .input::-webkit-scrollbar {
        width: 0 !important;
      }
      .send {
        position: absolute;
        height: 42.6666666667px;
        width: 42.6666666667px;
        border-radius: 50%;
        border: 0;
        background: #ffae00;
        color: #ffffff;
        bottom: 10.6666666667px;
        right: 10.6666666667px;
      }
      .send:before {
        content: '';
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
        background-size: 25.6px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .send:focus {
        outline: none;
      }
      .send:hover {
        cursor: pointer;
      }
    </style>

    <paper-textarea class="input" value="{{_userMsg}}" on-keydown="_checkForEnter" placeholder="Ask to the bot"></paper-textarea>
    <paper-icon-button class="send" on-tap="_send" on-keydown="_checkForEnter">send</paper-icon-button>

  </template>

  <script>
    /**
     * `it-message-input`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ItMessageInput extends Polymer.Element {
      static get is() { return 'it-message-input'; }
      static get properties() {
        return {
          _userMsg: {
            type: String,
            notify: true,
          },
        };
      }
      _send(event){
        this.dispatchEvent(new CustomEvent('user-submit', {
          detail: this._userMsg,
        }));
        this._userMsg = "";
      }
      _checkForEnter (event) {
        if (event.keyCode === 13) {
            this._send();
        }
      }
    }

    window.customElements.define(ItMessageInput.is, ItMessageInput);
  </script>

</dom-module>
