<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="it-message-card">

  <template>

    <style>
      .button {
        padding: 10px;
        min-height: 30px;
        width: 80%;
        margin: 0 10px;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
                box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
        position: relative;
        font-size: 15px;
        cursor: pointer;
        text-transform: none;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background-color: #878787;
        border: none;
        border-radius: 2px;
        box-shadow: 3px 3px #515151;
      }
      .button:hover {
        background-color: #666666;
      }
      .button:active {
        background-color: #666666;
        box-shadow: 1px 1px #515151;
        transform: translate(2px,2px);
      }
    </style>

    <div>
      <template is="dom-if" if="{{_isText}}">[[text]]</template>
      <template is="dom-if" if="{{_isButton}}">
        <paper-button class="button" value="[[payload]]" on-tap="_buttonTapped">[[text]]</paper-button>
      </template>
      <template is="dom-if" if="{{_isImage}}">
        <img src="[[payload]]" width="100%">
      </template>
      <template is="dom-if" if="{{_isVideo}}">
        <video controls="controls" src="[[payload]]" width="100%">
      </template>
    </div>

  </template>

  <script>
    /**
     * `it-message-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ItMessageCard extends Polymer.Element {
      static get is() { return 'it-message-card'; }
      static get properties() {
        return {
          type: String,
          text: String,
          response: {
            type: Boolean,
            reflectToAttribute: true,
          },
          payload: Object,

          _hasText: {
            type: Boolean,
            computed: '_isFilled(text)',
          },
          _isText: {
            type: Boolean,
            computed: '_isType(type, "text")',
          },
          _isButton: {
            type: Boolean,
            computed: '_isType(type, "button")',
          },
          _isImage: {
            type: Boolean,
            computed: '_isType(type, "image")',
          },
          _isVideo: {
            type: Boolean,
            computed: '_isType(type, "video")',
          },
        };
      }
      _isType(type, requestedType) {
        return type === requestedType;
      }
      _isFilled(text) {
        return text != null && text.length > 0;
      }
      _buttonTapped(event){
        console.log(this.payload);
        this.dispatchEvent(new CustomEvent('button-tapped', {
          detail: this.payload,
          bubbles: true, composed: true,
        }));
      }
    }

    window.customElements.define(ItMessageCard.is, ItMessageCard);
  </script>
  
</dom-module>
